body{
    background: linear-gradient(black,grey, white) no-repeat;
}
.titulo-principal{
    color: white;
    text-shadow: 1px 2px 2px white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}
.plantilla{
    width: 300px;
    max-width: 300px;
    height: 500px;
    display: inline-block;
    background-color: rgba(41, 31, 31, 0.555);
    margin: 150px auto;
    border-radius: 10px;
    box-shadow: 1px 2px 10px grey; 
   position: relative;
    
}
.plantilla:hover {
   
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name:animacion;
    animation-fill-mode: forwards;
    z-index: 1;
}

@keyframes animacion {
    0% {
        background-color:rgba(41, 31, 31, 0.555);
        bottom: 0px;
    }
 
    100%{
        background-color: whitesmoke;
        left: -50px;
        top:-100px;
    }
    
}

.total{
    margin: auto;
    text-align:center;
    
}
.titulo-secundario{
    text-align: center;
    height: 10%;
}